.header{
    text-align: center;
}
.parent {
  width: 250px;
  height: 150px; /* ارتفاع دلخواه */
  overflow: hidden;
  border-radius: 10px;

}

.parent img {
  width: 100%;
  height: 70%;
  object-fit: cover; /* یا contain */
  border-radius: 10px;
  display: block;
    transform: translateX(-7%); /* دقیقاً وسط کردن */
}
.card{
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    padding: 0 20px;
    /* text-align: center; */
}
.card img{
    position:absolute ;
    top: -20px;

   
   
   width: 80%; 
}
.title{
    margin-top: 200px;
}

.footer{
   
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.body{
   direction: rtl;
}


