.searchSection{
   display: flex;
   padding: 30px;
   align-items: center;
   justify-content: space-between;
}

.rightSearchSection h2{
    font-family: lalezar;
}

.leftSearchSection input{
    padding: 8px;
    outline: none;
   border-radius: 0 10px 10px 0;
}
.leftSearchSection button{
     border-radius:10px 0 0 10px;
     padding: 8px;
}

.courseImage {
  width: 100%;
  height: auto;
}
.searchSection input{
padding: 10px;
border: none !important;
border: 1px solid gray;
border-radius: 0 5px 5px 0;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.searchSection button{
    padding: 12px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: lightslategray;
}
.searchSection input:hover{
    border: none !important;
   border: 1px solid gray;
}
.searchSection input:focus{
      border: none !important;
       outline: none !important;
}